.wrap {
  display: inline-block;
  height: 100vh;
  width: calc(100% - 200px);
  position: absolute;
  top: 0;
}

.word {
  font-size: 18px;
  color: rgba(0,0,0,0.64);
  letter-spacing: 0.1px;
  text-align: left;
  margin: 28px 30px;
}
