@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary;
  background-color: white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  text-underline: none !important;
}




