.layout {
  width: 100%;
  list-style-type: none;
  padding-top: 12px;
  padding-left: 0;
  margin: 0 30px;
}

.list {
  width: 100%;
  margin-bottom: 20px;
}

.letter {
  font-weight: 700;
  font-size: 14px;
  color: rgba(0,0,0,0.64);
  letter-spacing: 0.07px;
  text-align: left;
}

.names {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 12px 0;
}

.name {
  width: 100%;
  margin-bottom: 10px;
}